
body {
    background-color: #fffdf7;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 #burgersEaten {
	text-align: center;
}

#title {
	text-align: center;
	font-size: 48px;
}

#addBurger {
	text-align: center;
}


.col-xs-6 {
	margin-bottom: 12px;
}

.col-xs-12 {
	margin-bottom: 24px;
}

.form-control {
	margin-bottom: 12px;
}